


/*////////////////////////////////////////////////////////////////////////////////////////////////
// Chat - Template
////////////////////////////////////////////////////////////////////////////////////////////////*/



html, body
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family:verdana;
    font-size:12px;
    background-color:#FFF4E0;
}

#boxleft
{
    float:left;
    width:200px;
    padding:10px;
    padding-left:10px;
    padding-right:10px;
}

#boxcontent
{
    float:left;
    width:525px;
    padding:10px;
    padding-left:5px;
    padding-right:10px;
}

#roomedit
{
    margin-top:4px;
    padding:4px;
    background-color:#ffffff;
    border:1px dotted #221B0E;
    display:none;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////
// Chat - Content
////////////////////////////////////////////////////////////////////////////////////////////////*/



a.fett
{
    font-weight:bold;
}

.contentboxchatheader
{
    margin:0px;
    padding:2px;
    font-weight:bold;
    color:#BD8519;
    background-color:#fdd995;
    border:1px dotted #221B0E;
    border-bottom:none;
}

#chatlist.liste
{
    position:relative;
    height:350px;
    overflow:auto;
    margin:0px;
    margin-bottom:10px;
    padding:5px;
    background-color:#ffffff;
    border:1px dotted #221B0E;
    line-height:17px;

}

.userlist
{
    padding-left:10px;
}

.smiliemenu
{
    display:none;
    position:absolute;
    top:295px;
    left:598px;
    width:145px;
    height:100px;
    margin:0px;
    background-color:#FFE8BA;
    border:1px dotted #221B0E;
}

form.chat img
{
    float:left;
    border:none;
}

form.chat input.small
{
    width:30px;
    height:16px;
    padding-top:0px;
    padding-left:0px;
    margin-right:5px;
    text-align:center;
}

form.chat input.long
{
    width:517px;
    height:16px;
    margin:0px;
    background-color:#ffffff;
}

form.chat select
{
    width:90px;
    margin-bottom:0px;
    margin-right:5px;
}

form.chat textarea
{
    border:none;
    width:613px;
    height:48px;
    margin:0px;
}

form.chat .submit
{
    height:16px;
    background-color:#FFE8BA;
}



form.room input.long
{
    width:110px;
}

form.room .checkbox
{
    float:left;
    margin:0px;
    margin-top:2px;
    margin-right:3px;
    width:15px;
}

form.room label
{
    float:left;
    width:70px;
}


