


/*////////////////////////////////////////////////////////////////////////////////////////////////
// common.css - Beinhaltet Standards
////////////////////////////////////////////////////////////////////////////////////////////////*/



/* Standards
////////////////////////////////////////////////////////////////////////////////////////////////*/



br.clr, div.clr
{
    clear:both;
    font-size:0px;
    height:0px;
    line-height:0px;
    overflow:hidden;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.center
{
    width:100%;
    text-align:center;
}

img
{
    border:0;
}

a.auto
{
    display:inline;
    width:auto;
    height:auto;
    margin:0px;
    padding:0px;
}



/* Messages / Colors
////////////////////////////////////////////////////////////////////////////////////////////////*/



.ok
{
    font-size:10px;
    color:#339933;
    font-weight:bold;
}

.err
{
    font-size:10px;
    color:#CC3333;
    font-weight:bold;
}



/* Farbprofile
////////////////////////////////////////////////////////////////////////////////////////////////*/

.quote
{
    display:block;
    padding:5px;
    padding-top:2px;
    padding-bottom:2px;
    font-size:10px;
    font-style:italic;
    border:1px dotted black;
    background-color:#FCFCFC;
}

.sidemenu a
{
    background:url("../images/a.gif") 0px 4px no-repeat;
    padding-left:12px;
    margin-bottom:2px;
}

.Herr
{
    color:#0000FF;
    padding-left:20px;
    background:url("../images/icons/user_male.gif") no-repeat;
    
}

.Frau
{
    color:#FF0000;
    padding-left:20px;
    background:url("../images/icons/user_female.gif") no-repeat;
    
}