#footer_right a
{
    color:#E3F8FC;
    text-decoration:none;
    font-size:12px;
    margin:10px;
}

#top h1
{
   font-size:18px;
   margin:0px;
   padding:0px;
   color:#fff ;
   margin-top:25px;
   margin-right:90px;
   float:right; 
}

#right h1, #content h1
{
    margin:0px;
    padding:0px;
    margin-bottom:5px;
    margin-top:10px;
    font-weight:bold;
    font-size:14px;
    color:#4CADCC
}

#right h1:first-letter, #content h1:first-letter
{
    color:#4C89B7
}

#right a
{
   color:#6A89AA;
   font-style:italic;
   text-decoration:none;
}

table{ border:1px solid #E6F9FD}
th, .headline{ background:#E6F9FD}
td{padding:2px;}

.td1
{
     background:#F3FCFE;
     margin:1px;
     padding:2px;
}

.td
{
    margin:1px;
     padding:2px;
}

.small
{
   color:#949494;
   font-size:11px;
   font-style:italic
}

h2
{
 font-size:12px;
 background-color:#E6F9FD;
 margin-top:10px;
}

.sidemenu a
{
    display:block;
}
.headline div a
{
  font-size:10px;
}