.htmlarea input.small
{
    width:30px;
    height:16px;
    padding-top:0px;
    padding-left:0px;
    margin-right:5px;
    text-align:center;
}

.htmlarea input.medium
{
    position:relative;
    width:60px;
    height:16px;
    padding-top:0px;
    padding-left:0px;
    margin-right:5px;
    text-align:center;
}

.htmlarea .smiliemenu
{
    display:none;
    position:absolute;
    left:10px;
    width:145px;
    height:100px;
    margin:0px;
    background-color:#FFE8BA;
    border:1px dotted #221B0E;
}