


/*////////////////////////////////////////////////////////////////////////////////////////////////
// Kalender Style
////////////////////////////////////////////////////////////////////////////////////////////////*/



table.kalender
{
}


table.kalender td
{
    border:1px dotted #221B0E;
    border-top:none;
    border-left:none;
}


table.kalender td.header
{
    font-weight:bold;
    background-color:#fdd995;
}


table.kalender td a
{
    display:block;
    float:left;
    width:80px;
    height:80px;
    padding-right:1px;
    background-color:#FFF4E0;
}


table.kalender td a.green
{
    background-color:#A6EBA6;
}


table.kalender td a.orange
{
    background-color:#FFCC99;
}


table.kalender td a.auto
{
    width:auto;
    height:auto;
}


table.kalender td a:hover
{
    background-color:#FFCC99;
}



/*////////////////////////////////////////////////////////////////////////////////////////////////
// Mini-Kalender Style
////////////////////////////////////////////////////////////////////////////////////////////////*/



table.minikalender
{
    font-size:10px;
}


table.minikalender td
{
    width:13px;
    text-align:center;
    border:1px dotted #221B0E;
    border-top:none;
    border-left:none;
    background-color:#FFF4E0;
}


table.minikalender td.header
{
    font-weight:bold;
    background-color:#fdd995;
}


table.minikalender td a.minikalenderlink
{
    display:block;
    float:left;
    width:auto;
}


table.minikalender td a.minikalenderlink2
{
    width:100px;
}


table.minikalender td a
{
    display:block;
    float:left;
    width:15px;
    padding-right:1px;
}


table.minikalender td a:hover
{
    background-color:#FFCC99;
}


table.minikalender td.aktiv
{
    background-color:#fdd995;
}


table.minikalender div.info
{
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    padding:2px;
    padding-left:4px;
    padding-right:4px;
    text-align:left;
    background-color:#ffffff;
    border:1px dotted #221B0E;
}