/*////////////////////////////////////////////////////////////////////////////////////////////////
// menu.css
////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Menüpunkte Topnavi
////////////////////////////////////////////////////////////////////////////////////////////////*/

#menu a, #menu a.menu_on, #menu1 a, #menu1 a.menu_on
{
    padding-left:10px;
    padding-right:10px;
    font-size:16px;
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    font-size:14px;

}

#menu a:hover, #menu a.menu_on, #menu1 a:hover, #menu1 a.menu_on
{
    color:#FFE9B0;
}

