/*////////////////////////////////////////////////////////////////////////////////////////////////
// template.css - Struktur der Website
////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Cooperate Design
////////////////////////////////////////////////////////////////////////////////////////////////*/



/* Allgemein
////////////////////////////////////////////////////////////////////////////////////////////////*/



html, body
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background:url('../images/bg_body.gif') 0px 20px no-repeat #E7EBF1;
    font-family:Arial;
    font-size:12px;
    color:#5A86AC
}

#container
{

    background:#fff;
    min-height:100%;
    width:911px;
    margin-left:48px;
    background:url("../images/bg_left.jpg") 0px 0px repeat-x #FFF;
    position:relative;
}

#left
{
    width:683px;
    margin-top:0px;
    float:left;
    padding-bottom:55px;
    
}

#top
{
    background:url("../images/bg_top.jpg") 0px 20px no-repeat;
    height:177px;
    width:683px;
    margin-top:0px;
}

#menu1
{
    width:130px;
    float:left;
     margin-top:85px;
}

#menu
{
    margin-left:0px;
    margin-top:85px;
    width:470px;
    float:left;
    text-align:center
}

#content
{
   margin:20px;
   margin-right:60px;
}

#right
{
   background:url("../images/right_top.gif") right 38px no-repeat;
   min-height:300px;
   float:right;
   width:215px;
   padding-top:150px;
   padding-bottom:195px;
}

#footer
{
    position:absolute;
    left:0px;
    bottom:0px;
    background:url("../images/bg_footer.gif") bottom no-repeat;
    width:947px;
    height:110px;
    
}

#footer_right
{
    position:absolute;
    left:626px;
    bottom:0px;
    height:64px;
    width:301px;
    padding-left:20px;
    background:url("../images/right_bottom.gif") 0px 70px no-repeat;
    padding-top:115px;
    line-height:20px;
    text-align:center;
    color:#E3F8FC
}

